.Instruction {
    border: 2px solid black;
}

.Instruction h1{
    font-size: 18px;
    margin-top:0;
    font-weight: 900;
    border: 1px solid black;
text-align: center;

}

 p{

    font-size: small;
color: rgb(49, 41, 41);
 }